* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

.card {
    width: 18rem;
}

#intro {
    height: 100vh;
    text-align: center;
}

.top {
    font-size: 3rem;
    padding-top: 19rem;
}

.bottom {
    font-size: 2rem;
}

.section {
    height: 100vh;
}

.project-grid {
    padding-top: 3rem;
}
